<main>
    <div class="container center">
        <div class="jumbotron">
            <h1 class="pageTitle" >EAT DA BURGER!</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s6 m6 l6">
                <img class="bobsBurger" src="/assets/img/bobsBurger.jpg" width="300px">
            </div>

            <div class="col s6 m6 l6 addBox">
                <h2 class="add center">Add a Burger!</h2>
                <form action="/burgers/new" method="POST">
                    <input type="text" id="name" name="burger_name" placeholder="Enter a Burger Name">
                    <button class="btn waves-light waves-effect" type="submit" class="addBurger">Add your Burger!</button>
                </form>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col s6 offset-s2 m8 offset-m2 l8 offset-l2">
                <h2 class="header center">Now Eat Da Burger!</h2>
                <p class="describeText center">Simply click on the burger name to the left to devour the burger.</p>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row">
            <div class="col s6 m6 l6 center">
                {{#each burgers}}
                    {{#unless this.devoured}}
                        <div>
                            <form action="/burgers/update/{{this.id}}?_method=PUT" method="POST">
                                <button class="btn waves-light waves-effect" type="submit" id="burgerReadyToEat">{{this.burger_name}}</button>
                            </form>
                        </div>
                    {{/unless}}
                {{/each}}
            </div>

            <div class="col s6 m6 l6 center">
                {{#each burgers}}
                    {{#if this.devoured}}
                        <div class="burgerDevoured">
                            <div>
                                {{this.burger_name}}
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</main>